/*Header*/
header {
    background-color: var(--main-color);
    margin: 0 auto;
    padding: 18px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    align-content: center;
    text-align: center;
    flex-shrink: 0; /* Prevent shrinking */
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

/*main content*/
main{
    background: #eee url("../shared/images/black-thread-light.png");
    padding: 0 16px;
    flex-grow: 1; /* Allow the main content to expand */
    display: flex;
    
}

.note{
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 15px 10px;
    width: 300px;
    margin: 16px;
    float: left;
}
.note h2 {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: var(--main-color);
    text-align: center;
}
.note h3{
    font-size: 0.8em;
    color: #618375;
    padding-bottom: 5px;
    
}
.note p {
    font-size: 1em;
    line-height: 1.8;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-style: italic;
}
.note button {
    position: relative;
    float: right;
    margin-right: 10px;
    background: var(--main-color);
    color: #fff;
    border: none;
    bottom: -25px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
}
.update-note{

}
form.create-note {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}
form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}
form.create-note .cancelBtn {
    right: 80px;

}
/*footer*/
footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    padding:1rem;
    flex-shrink: 0; /* Prevent shrinking */
}
footer p {
    color: var(--main-color);
}