/*Header*/
header {
    background-color: #7f9fe4;
    margin: 0 auto;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    align-content: center;
    text-align: center;
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

/*main content*/
main{
    padding: 0 16px;
}
.note{
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}
.note h2 {
    font-size: 1.2em;
    margin-bottom: 6px;
}
.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.note button {
    position: relative;
    float: right;
    margin-right: 10px;
    background: #7f9fe4;
    color: #fff;
    border: none;
    bottom: -25px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
}
/*footer*/
footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2rem;
}
footer p {
    color: #7f9fe4;
}